# DS5001Text As Data
## Efrain Olivares - dpy8wq
* Module 1 Code Exercise
1. Create a directory on your computer called “DS5001” on your computer. This should go within you Documents directory, or whatever your preference is. This is where you will keep all of your work  for this class. 
1. Within this directory, create a directory called “M01”—standing for Module 1 (this week’s  module).
1. Go to the Project Gutenberg site and find the plain text version of Herman Melville’s Moby Dick. Download  it to the directory you just created, that is, “M01”  under “ETA.” The filename should be “2701-0.txt.” 
1. In this same directory, create a Jupyter notebook that converts this file into a Pandas dataframe.  
1. In this notebook, include a cell that answers the following questions:
    1. How many lines does the file have?
    1. At what line number does the novel’s contents begin?
    1. At what line number does the novel’s content end?

Hint: The novel’s beginning and ending lines are announced in the Project Gutenberg boilerplate. Use string functions and/or regular expressions to find the answers

In [1]:
! wget --no-clobber https://www.gutenberg.org/cache/epub/2701/pg2701.txt

--2026-01-21 14:21:23--  https://www.gutenberg.org/cache/epub/2701/pg2701.txt
Resolving www.gutenberg.org (www.gutenberg.org)... 2610:28:3090:3000:0:bad:cafe:47, 152.19.134.47
Connecting to www.gutenberg.org (www.gutenberg.org)|2610:28:3090:3000:0:bad:cafe:47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1276306 (1.2M) [text/plain]
Saving to: ‘pg2701.txt’

pg2701.txt          100%[===================>]   1.22M  2.74MB/s    in 0.4s

2026-01-21 14:21:25 (2.74 MB/s) - ‘pg2701.txt’ saved [1276306/1276306]

In [4]:
import pandas as pd

In [5]:
epub = open("pg2701.txt", 'r', encoding='utf-8-sig').readlines()
df = pd.DataFrame(epub, columns=['line_str'])
df.index.name = 'line_num'
df.line_str = df.line_str.str.strip()

In [10]:
title = df.loc[0].line_str.replace('The Project Gutenberg eBook of ', '')
df['title'] = title
print(title)

Moby Dick; Or, The Whale

In [6]:
df.head(10)

                                                   line_str
line_num
0         The Project Gutenberg eBook of Moby Dick; Or, ...
1
2         This ebook is for the use of anyone anywhere i...
3         most other parts of the world at no cost and w...
4         whatsoever. You may copy it, give it away or r...
5         of the Project Gutenberg License included with...
6         at www.gutenberg.org. If you are not located i...
7         you will have to check the laws of the country...
8                                  before using this eBook.
9

In [8]:
# How many lines does the file have
print(f"The number of lines in the file is {len(df)}")

The number of lines in the file is 22310

In [11]:
a = df.line_str.str.match(r"\*\*\*\s*START OF (THE|THIS) PROJECT")
b = df.line_str.str.match(r"\*\*\*\s*END OF (THE|THIS) PROJECT")
an = df.loc[a].index[0]
bn = df.loc[b].index[0]
df = df.loc[an + 1 : bn - 2]
df

,line_str,title
line_num,,
23,,"Moby Dick; Or, The Whale"
24,,"Moby Dick; Or, The Whale"
25,,"Moby Dick; Or, The Whale"
26,,"Moby Dick; Or, The Whale"
27,MOBY-DICK;,"Moby Dick; Or, The Whale"
...,...,...
21953,"devious-cruising Rachel, that in her retracing...","Moby Dick; Or, The Whale"
21954,"children, only found another orphan.","Moby Dick; Or, The Whale"
21955,,"Moby Dick; Or, The Whale"
21956,,"Moby Dick; Or, The Whale"
21957,,"Moby Dick; Or, The Whale"

In [24]:
# When does the content begin
first_row_past_header = df.iloc[0]
print(f"The first row past the Gutenberg standard header is {first_row_past_header.name}")

The first row past the Gutenberg standard header is 23

In [26]:
df_non_empty = df[df['line_str'] != '']
first_content_row_past_header = df_non_empty.iloc[0]
print(f"The first NON-EMPTY row past the Gutenberg standard header is {first_content_row_past_header.name}")

The first NON-EMPTY row past the Gutenberg standard header is 27

In [29]:
# When does the content end
first_row_past_header = df.iloc[-1]
print(f"The first row past the Gutenberg standard header is {first_row_past_header.name}")

The first row past the Gutenberg standard header is 21957

In [31]:
last_content_row_before_footer = df_non_empty.iloc[-1]
print(f"The first NON-EMPTY row before the Gutenberg standard footer is {last_content_row_before_footer.name}")

The first NON-EMPTY row before the Gutenberg standard footer is 21954

In [32]:
df.tail(10)

,line_str,title
line_num,,
21948,"fell over, and floated by my side. Buoyed up b...","Moby Dick; Or, The Whale"
21949,"one whole day and night, I floated on a soft a...","Moby Dick; Or, The Whale"
21950,"unharming sharks, they glided by as if with pa...","Moby Dick; Or, The Whale"
21951,the savage sea-hawks sailed with sheathed beak...,"Moby Dick; Or, The Whale"
21952,"sail drew near, nearer, and picked me up at la...","Moby Dick; Or, The Whale"
21953,"devious-cruising Rachel, that in her retracing...","Moby Dick; Or, The Whale"
21954,"children, only found another orphan.","Moby Dick; Or, The Whale"
21955,,"Moby Dick; Or, The Whale"
21956,,"Moby Dick; Or, The Whale"
21957,,"Moby Dick; Or, The Whale"